html, body {
    margin:0;
    padding:0;
    overflow: hidden;
}
h1 {
    margin:0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:rgb(191, 192, 228);
    color: white;
    position: sticky;
    top: 0;

}



 #padd {
padding: 20px;
}

#bord {
    flex: auto;
   justify-items: auto;
    border: 1px solid black;
    background-color: white;
   
    
}
#login{
    background-color: white;
}
.container{
   
    display: block;
    margin: auto;
    padding-top: 8px;
    border-radius: 5px;
    background-color: lightsteelblue;
    width: 40%;

  display:block;
 
  
}
#buttom {
    margin-top: 20px;
}
 .headlines  {
    border: 1px solid black;
    display: flex;
    width: 100%;
   
    background-color: lightsteelblue;
  
 
}


nav{
    border: 1px solid black;
    background-color: lightgreen;
}

nav ol {
 
    display: flex;
   
   
} 
nav li  {
    
   
    margin: 0 100px;
}
nav p {
    
    text-align: center;
   
}

#log{
   
    margin-left: auto;
  

  
}
#footer {
   
    position:relative;  top:800px;
    background-color: blueviolet;
    width:100% !important;
   height: 100%;
  position:absolute !important; 
  justify-content: center;  
   
}
span{
   display: flex;
   justify-content: center;
}
#main-header {
    background-color: aqua;
    border: 1px solid black;
    width: 30%;
    position:relative; left:30px; top:40px;
}
#subtex {
    position:relative; left:30px; top:50px;
   background-color: aqua;
   border-radius: 5px;
    border: 1px solid black;
    width: 50%;



}
#article1{
    position:relative; left:30px; top:60px;
   
     border: 1px solid black;
     width: 20%;
     background-color: aqua; 
    
}
#article2 {
    position:relative; left:31.6%;     top: -91px;
    
    background-color: aqua; 
     border: 1px solid black;
     width: 20%;
    
}

#aside {
  
   position:relative;     left: 1112px;     top: -508px;
    background-color: rgb(255, 0, 47); 
     border: 1px solid black;
     width: 100%;
}

li:hover {
    background-color: rgb(255, 0, 217);
    border-radius: 7px;
  }