html, body {
    margin:0;
    padding:0;
    max-width: 1024px; 
	margin: 0 auto !important; 
	float: none !important; 
   
}



header  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:rgb(191, 192, 228);
    color: white;
    position: sticky;
    top: 0;

}


#bord {
    flex: auto;
   justify-items: auto;
    border: 1px solid black;
    background-color: white;
   
    
}

.container{
   
    display: block;
    margin: auto;
    padding-top: 8px;
    border-radius: 5px;
    background-color: lightsteelblue;
    width: 40%;

  display:block;
 
  
}
#buttom {
    margin-top: 20px;
}
 .headlines  {
    border: 1px solid black;
    display: flex;
    width: 100%;
   
    background-color: lightsteelblue;
  
 
}

nav {
    border: 1px solid black;
    background-color: lightgreen;
}
nav > ol {
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 20px;
    justify-content: center;

    padding: 10px;
}

nav > ol > li {
    padding: 0 20px;
}



#footer {
   
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: hsl(230, 30%, 10%);
    color: white;
   
    padding: 40px 0 120px 0;
   
}
span{
   display: flex;
   justify-content: center;
}
#main-header {
   
    display: grid; 
    gap: 10px;
    background-color: aqua; 
    border: 1px solid black;
   
    width: 30%;
}
#subtex {
    display: grid; 
    gap: 10px;
    background-color: aqua; 
    border: 1px solid black;
    width: 50%;
    margin-top: 30px;
}
#article1{
    display: grid; 
    gap: 10px;
    background-color: aqua; 
    border: 1px solid black;
    width: 20%;
    margin-top: 30px;
    
}
#article2 {
    position:relative; left:30%;     top: -227px;
    
    background-color: aqua; 
     border: 1px solid black;
     width: 20%;
    
}

  #aside {
    
  display: flex;
  margin-left: auto;
  margin-top: -700px;
    background-color: rgb(255, 0, 47); 
     border: 1px solid black;
     width: 40%;
     margin-bottom: 40px;
   
}

li:hover {
    background-color: rgb(255, 0, 217);
    border-radius: 7px;
  }span{
    display: flex;
    justify-content: center;
 }